In [22]:
import importlib
from utils import load_exceptions

importlib.reload(load_exceptions)

In [2]:
e = load_exceptions.Exceptions()

In [3]:
exception, sys_exc, bus_exc = e.get_data()

In [4]:
exception.head()

,ID,Exception,Category
0,275615461,Invite not found in both CBS mailbox,Business Exception
1,194193805,Interviewer xxxx mail ID not found in invite.,Business Exception
2,21336256,Invite not found in both TAX and PAS mailbox,Business Exception
3,417034777,InternalFailed to evaluate expression 'Replace...,System Exception
4,162026078,Could not execute code stage because exception...,System Exception

In [5]:
sys_exc.head()

              Exception
0      Unable to launch
1  Failed to fetch data
2            Site issue
3            Code stage
4             Exception

In [6]:
bus_exc.head()

                  Exception
0  Missing mandatory fields
1         Mail Id not found
2          Invite not found
3        Template not found
4       Error in Input File

In [1]:
from main import Classify

In [5]:
a = Classify("not found in Amex")

In [8]:
a.match_from_database()

('Error exists at index', 52)

In [9]:
a.update_to_database()

Similar error already exists with Exception ID :  55833666 . Duplication avoided.

In [15]:
import numpy as np
x = np.array([[1,2], [3,4], [5,6]])
x

array([[1, 2],
       [3, 4],
       [5, 6]])

In [16]:
type(x)

numpy.ndarray

[[1, 2], [3, 4], [5, 6]]